body {
  font-family: sans-serif;
  background-color: #444;
}

h1 {
  text-align: center;
  font-size: 52px;
  text-align: center;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

p {
  text-align: center;
  font-size: 28px;
  width: 100%;
  text-align: center;
  height: 165px;
}

.he {
  height: 50px;
}

.je {
  text-align: center;
}

.hehe {
  background-color: #c0f89a;
  color: #444;
  border-radius: 10px;
}
